body {
  margin: 0;
  background-color: #191a1a;
  color: #f9f9f9;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}

.header__logo {
  width: 25rem;
  max-width: 80%;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.location {
  padding: .6rem 5rem 2rem;
  display: flex;
  align-items: center;
}

.location__label {
  margin-right: .5rem;
}

.location__select {
  flex-grow: 1;
}

.location__reset {
  margin-left: .4rem;
  cursor: pointer;
  fill: #ffffffab;
}

.location__reset:hover {
  fill: white;
}

.location__reset--hidden {
  visibility: hidden;
}

.main {
  color: #fffefe85;
}

.main a {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  transition: border-bottom 0.1s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.main a:hover {
  border-bottom: 1px solid #fffefe85;
}

.main a > em {
  font-style: normal;   
}


.incident-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem;
}

.incident-list__item {
  display: flex;
  position: relative;
  max-width: 550px;
  width: 85%;
  padding: 1.5rem 5rem;
}

.incident-list__divider--date {
  color: #191a1a;
  background-color: #eb5600;
  font-size: 1rem;
  border-radius: .3rem;
  margin-top: 2rem;
  padding: .1rem .4rem;
  user-select: none;
}

.incident-list__divider--divider {
  width: 150px;
  height: 0px;
  border-top: 1px solid rgba(255,255,255,.1);
}

.map__border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.5);
  pointer-events: none;
}

.map .location-marker-parent {
  transition-property: visibility, opacity;
  transition-duration: 0s, 1s;
  pointer-events: none;
}

.map .location-marker-parent--hidden {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .5s, 0s;
  transition-delay: 0s, .5s;
}

.map .location-marker svg {
  height: 40px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
   visibility: none !important;
}

.incident-list .location-marker {
  white-space: nowrap;
}

.incident-list .location-marker svg {
  display: inline-block;
  height: 1rem;
  transform: scale(1.1) translateY(5%);
  margin: 0 .4rem 0 .2rem;
}

.location-marker__text {
  font-size: 7px;
  text-align: center;
  text-anchor: middle;
  font-weight: bold;
}

.footer {
  padding-top: 4rem;
  font-size: 1rem;
}

@media (min-width: 979px) {
  .app {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
}
